@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Open+Sans|Oswald');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Do Hyeon', sans-serif;
*/

body {
  margin: 0;
  font-family: sans-serif;
  text-align: left;
}

.content {
  padding : 40px;
} 

h1 {
  font-family: 'Oswald', sans-serif;
  line-height: 50px;
  text-align: left;
}

h4 {
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 1.5px;
  text-align: left;
  line-height: 25px;
}

h3{
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 2px;
  text-align: left;
  line-height: 25px;
}


p {
  text-align: left;
  line-height: 25px;

}

li {
  list-style: none;
  text-align: left;
  line-height: 25px;
}

.cover {
  display: block;
  background-size: cover;
}

img {
  height: auto;
  max-width: 100%;
  width: auto\9; /* ie8 */
}


@media only screen and (min-width: 600px) {

  p {
    max-width: 60%;
  }

  li {
    max-width: 60%;
  }
}